!client/out/extension.js
!server/out/eslintServer.js
**/**.tar.gz
**/**.vsix
**/*.map
**/*.ts
**/tsconfig.base.json
**/tsconfig.json
**/tslint.json
.azure-pipelines.yml
.github/**
.gitignore
.vscode-test/**
.vscode/**
CONTRIBUTING.md
client/**
contributing.md
images/**
out/test/**
server/**
shared.webpack.config.js
src/**
test/**
tsconfig.json
typings/**
undefined/**
vsc-extension-quickstart.md